/************************/
/* base styles          */
/************************/

body {
	margin: 0px;
//	background-color: #cacce3;
}

div,td,th,p,font,li,ul,dt,dd,dl,form,blockquote,tr,table,h1,h2,h3,h4,h5,textarea,select,input
{
	/* set explicit default for IE */
	/* position: relative; */
	font-family: verdana,helvetica,Arial,sans-serif;
	font-size: 8pt;
	z-index:0; 
}

h1 { font-size: 14pt; }
h2 { font-size: 12pt; }
h3 { font-size: 10pt; }
h4, h5 { font-size: 9pt; }
h6, h7 { font-size: 8pt; }

textarea {
	color: #000000;
	border: 1px #000000 solid;
	width: 200px;
}

select {
	color: #000000;
	width: 200px;
	z-index:1;
}

/* input[type="text"] {
	color: #000000;
	background-color: #ffffff;
	border: 1px #000000 solid;
	width: 200px;
} */

input[type="password"] {
	color: #000000;
	background-color: #ffffff;
	border: 1px #000000 solid;
	width: 200px;
}

input[type="submit"] {
	cursor:pointer;
}

input[type="button"] {
	cursor:pointer;
}

dt { font-weight: bold; }

a:link { font-weight: bold; }
//a:link { color: #000066; text-decoration:none; }
//a:visited { color: #000066; text-decoration:none; }
//a:active { color: #000066; text-decoration: none; }
//a:hover { background-color:#000066; color: #ffffff; text-decoration: none; }

div.banner {
  margin: 0;
  font-size: 80% /*smaller*/;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  position: fixed;
  top: 22em;
}
div.banner p {
  margin: 0; 
  padding: 0.3em 0.4em;
  background: #900;
  border: thin outset #900;
  color: white;
}

div.banner a, div.banner em { display: block; margin: 0 0.5em }
div.banner a, div.banner em { border-top: 2px groove #900 }
div.banner a:first-child { border-top: none }
div.banner em { color: #CFC }

div.banner a:link { text-decoration: none; color: blue }
div.banner a:visited { text-decoration: none; color: blue }
div.banner a:hover { text-decoration: none; color: yellow }
