#imageContainer {
position:relative;
margin:auto;
border:1px solid #000;
}

/* styles unrelated to the application follow */
h1 {
position:relative;
font:1em verdana;
}

.copy {
margin:auto;
position:relative;
font:0.9em verdana;
}

#so_credits {
position:relative;
margin:25px auto 0px auto;
width:350px; 
font:0.7em verdana;
border-top:1px solid #000;
border-bottom:1px solid #000;
height:90px;
padding-top:4px;
}

#so_credits img {
float:left;
margin:5px 10px 5px 0px;
border:1px solid #000000;
width:80px;
height:79px;
}