BODY {
	background-color: #ffffff;
	font-family : Arial, Helvetica, sans-serif;
	border : 0;
	font-size: 12px;

	color: #000000;
	margin-top:    10;
	margin-left:   10;
	margin-width:  10;
	margin-height: 10;
}
 
A {
	color: #5D85FF;
	text-decoration : none;
}
A:Hover {
	color: #3566FF;
	text-decoration : none;
}
A:Visited {
	color: #3566FF;
	text-decoration : none;
}

H1, H2, H3 { 
	font-variant: small-caps;
	background-color: black;
	color: white; 
	padding: 4px;
}

H4 { 
	margin:0;
	font-weight: bold; 
}

P {
	font-size: 12px;
	border : 0;
}

P.alert {
	color: red; 
	font-weight: bold; 
}


TABLE.double {
	border-style: double;
	border-color: #000000;
	border-collapse:collapse;
	background-color: white;
	font-family : Arial, Helvetica, sans-serif;
}

FORM {
	margin-top: 0px;
	margin-bottom: 0px;
} 

.alert {
	color: red; 
	font-weight: bold; 
}

.alertbody {
	background-color: white;
	font-size: 10px;
	color: red; 
	font-weight: bold; 
}

.banner {
	font-weight: bold;
	font-size: 36px;
}

.blocker {
	background-color: white;
	margin-bottom:4px;
	border: #000000 1px solid;
}
.blockheader {
	background-color: #eeeeee;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}
.blockhead {
	background-color: #eeeeee;
	font-size: 12px;
}
.blockbody {
	background-color: white;
	font-size: 12px;
	vertical-align: top;
}

.boxer {
	background-color: white;
	margin-bottom:4px;
	border: #000000 1px solid;
}
.boxbutton {
	background-color: #3566FF;
	color: white;
	font-size: 12px;
	cursor: hand;
}
.boxbutton2 {
	background-color: #3566FF;
	color: white;
	font-size: 8px;
	cursor: hand;
}
.boxenhead {
	background-color: #3566FF;
	color: white;
	font-size: 10px;
}
.boxenbody {
	background-color: #eeeeee;
	font-size: 12px;
}

.button {
	border: #000000 1px solid;
	padding: 4px;
	font-size: 12px;
	background-color: #cccccc;
	color: #3333cc;
	font-family: Geneva, Helvetica, Arial, sans-serif;
	text-align: center;
	cursor:pointer;
	width : 120px;
	font : bold;
}

.copyright	{
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
}

.double {
	padding: 4;
	background-color: #cccccc;
	font-family : latin ;
	font-size: 12px;
	border: #000000 double;
	font : Arial, Helvetica, sans-serif;
	text-align: left
}

#HideSkips {
	font-size: 0.1em;
	color: White;
	font-family: Arial, Helvetica, sans-serif
}

.section {
	border: #cccccc 1px solid;
	padding: 4px;
	font-size: 14px;
	background-color: #3566FF;
	color: #ffffff;
	font-family: Geneva, Helvetica, Arial, sans-serif;
	text-align: center;
	font: bold;
	font-weight:600;
}

.tagline {
	background-color: White;
	color: #3566FF;
	font-style: normal;
	font-size: 10px;
}

